.navbarList{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: grey;
}