.navbarList{
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 2rem;
    margin-right: 4rem;
    font-size: 1rem;
}

.navbar{
    background-color: rgba(43, 43, 43, 0.95);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 1000;
}

a{
    text-decoration: none;
    color: white;

}

a:hover{
    color: pink;
}

.cart{
    position: absolute;
    right: 1rem;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.cart:hover{
    color: pink;
    cursor: pointer;;
}

.centerLink{
    flex: 1;
    text-align: center;
}